/* .card{
    max-width: 360px;
} */

/* Corrección del valor de min-height en body */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh; /* Corregido de 100dvh a 100vh */
}

/* Asegurarse de que el contenido principal ocupe el espacio disponible */

.landing-logo-container {
  max-width: 300px;
}

.carousel-item > img {
  filter: brightness(30%);
}
